@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  /* margin: 0; */
  background-color: #3f3f3f;
  color: white;
}
h4 {
  color: greenyellow;
}
.hide {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 1000px;
  height: 200vh;
  bottom: 100px;
}
button {
  width: 100px;
  height: 30px;
  border: none;
  margin: 10px;
  background-color: rgb(3, 168, 168);;
  margin-left: 5px;
}
button:active {
  background-color:aqua;
}
button:hover {
  background-color: aqua;
  cursor: pointer;
}
input {
  height: 30px;
  margin-left: 5px;
  width: 200px;
}
.finish {
 margin-top: 20px;
  bottom: 20px;
}
h3 {
  color:aquamarine; 
}
